#We specify the IP addresses on which postgres will listen for traffic on port 5432 (port parameter)
listen_addresses = 'localhost, {{ master_ip }}'
#port postgres
port = 5432 
max_connections = 100
log_directory = 'log' 
log_filename = 'postgresql-%a.log'
log_rotation_age = 1d
log_rotation_size = 0
log_truncate_on_rotation = on
max_wal_size = 1GB
min_wal_size = 80MB
log_line_prefix = '%m [%p] '
log_timezone = 'UTC+3'
timezone = 'UTC+3'
datestyle = 'iso, mdy'
lc_messages = 'en_US.UTF-8'
lc_monetary = 'en_US.UTF-8'
lc_numeric = 'en_US.UTF-8'
lc_time = 'en_US.UTF-8'
default_text_search_config = 'pg_catalog.english'
#whether or not you can connect to postgresql to run queries during the restore process;
hot_standby = on
#Enable replication
wal_level = replica
#Number of planned slaves
max_wal_senders = 3
#Maximum number of replication slots
max_replication_slots = 3
#will the slave server inform the master about the requests it is executing
hot_standby_feedback = on
#Enable the use of encrypted passwords
password_encryption = scram-sha-256
